{
  "parser": "babel-eslint",
  "extends": "airbnb",

  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-quotes": 0,
    "react/jsx-no-bind": [2, {"ignoreRefs": true}],
    "react/forbid-prop-types": 1,
    "react/require-default-props": 1,
    "react/jsx-no-target-blank": 1,
    "react/prefer-stateless-function": [2, { "ignorePureComponents": true }],

    "jsx-quotes": [2, "prefer-double"],
    "comma-dangle": [1, "always-multiline"],
    "arrow-body-style": 0,
    "id-length": [2, {"min": 1, "properties": "never"}],
    "max-len": 0,
    "no-console": [2, { "allow": ["warn", "error"] }],
    "no-param-reassign": [1, {"props": false}],
    "new-cap": 0,
    "no-underscore-dangle": 0,
    "no-trailing-spaces": 1,
    "prefer-template": 1,
    "consistent-return": 1,
    "no-unused-vars": 1,
    "no-prototype-builtins": 0,

    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/href-no-hash": 0
  },

  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  
  "plugins": [
    "react"
  ]
}